# Core
python-dotenv
requests
rich
keyboard
pillow
pygame

# AI Models
groq
cohere
transformers
torch

# Web & Automation
AppOpener
pywhatkit
googlesearch-python
duckduckgo-search
selenium
webdriver-manager
bs4
mtranslate

# Speech to Text
SpeechRecognition
pyaudio
pocketsphinx

# Text to Speech
pyttsx3
gTTS
edge-tts

# Image Generation
diffusers
accelerate
safetensors

# GUI
PyQt5
python-pptx